* {
    box-sizing: border-box;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.search-box{
    font-size: 25px;

}



.item-group{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}


.item{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
}

.item-img{
    height: 50%;
    width: 100%;
}