* {
    box-sizing: border-box;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.top .random-button{
    position: absolute;
    font-size: 20px;
    top:10px;
    left: 500px;
}

.search-box{
    font-size: 25px;

}

.bottom{
    padding-top: 50px;
}

.item-group{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}


.item{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
}

.item-img{
    height: 50%;
    width: 100%;
}