* {
    box-sizing: border-box;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}
.search-box{
    font-size: 25px;
}


.item-group{
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}


.item{
    margin: 40px;
    height: 300px;
    width: 200px;
}

.item-img{
    height: 50%;
    width: 100%;
}

.search-btn{
    font-size: 20px;
    float: right;
}


.wrapper .form-data{
    margin-bottom: 5px;
}
.wrapper .recent-keyword{
    margin-top: 500px;

}

.recent-keyword .clip{
    margin-top: 20px;
    font-size: 19px;
    border-radius: 5px;
    background-color: orange;
    font-weight: bold;
}


/*다크모드*/
body{
    position: relative;
    background-color: #ffff;
}

.dark{
    position: absolute;
    font-size: 20px;

    background-color: white;
    border-radius: 5px;

    left: 30px;
    margin:0 auto;
}

.dark-mode{
    background-color: black;
    color: white;
}

.dark-mode .modal .info-title, .close-btn{
    color: black;
}

.hidden{
    visibility: hidden;
}


.modal{
    position: fixed;
    display: flex;

    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);

}

.info{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40vw;
    height: 35vw;
}

.info .info-img{
    height: 100%;
    object-fit: cover;
}
.info .info-header{
    display: flex;
    justify-content: space-between;
}
.info .info-header{
    font-size: 20px;
}
.info .info-header .info-title{
    margin: 10px;
}

.info .close-btn{
    margin: 13px;
    font-size: 20px;
}